<section id="features" class="section parallax">
<a name="features"></a>
  <div class="container row-80">
    <div class="col-sm-12">
      <h1>Angular apps just got easier.</h1>
      <h3>Use BowTie for the hard stuff so you can focus on what you love.</h3>
      <br>
    </div>

      <div class="feature col-sm-12">
        <div class="inner">
          <img src="/img/pic_angular.jpg" class="angular-image">
          <h3 class="title"></h3>
          <h4 class="sub-title"></h4>
          <p>BowTie is loaded with funtionality to help you build less and launch fast. Utilizing BowTie's key features like oAuth, user management, and payment services can turn your Angular application into a fully fledged mvp.</p>
        </div>
      </div>
    </div>
  </div>
</section>
