<!-- Section styles are 'section' 'section alt' 'section color' 'section black' 'section gradient' with the following helper classes for bg images 'cover' 'tile' 'parallax' 'fullscreen' -->
<!-- Hero layout classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron section image-center">
  <div class="container">
    <div class="logo-display">
      <img class="logo container img hidden-xs" alt="Logo" src="/img/bowtie_angular.png"></img>
      <img class="logo container img-responsive visible-xs img" alt="Logo" src="/img/bowtie_angular.png"></img>
      <h1 class="page-title">BowTie + Angular</h1>
    </div>
      <h1>Using Angular with BowTie</h1>
      <h2>Quickly add oAuth, user management, and payments to an Angular app.</h2>
      <p>BowTie is loaded with functionality to help you build less and launch faster. This is an example Angular project hosted on BowTie, that demonstrates how to implement our user registration and profile management features into an Angular application.</p>
      <p>Register below to check out the integration demo, or visit this project on Github to view the source.</p>
      <a href="https://github.com/bowtie-io/example-angular-user-profiles">
        <button class="btn btn-info">View Source</button>
      </a>
      <a href="https://bowtie.io/help/angular-example/">
        <button class="btn btn-default">Build This Site</button>
      </a>

      <hr>
      Ready to host and Build your own app?
      <a href="https://bowtie.io/owners/sign_up">Sign Up for BowTie.</a>
      Want to see how this site was built?
      <a href="https://bowtie.io/help/angular-example/">Read the User Guide.</a>
  </div>
</section>
